<br>

### 4.3 Variance Detail

In [1]:
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format

%store -r recon
%store -r variances
%store -r detail

%run FuncsMod.ipynb

<br>

In [2]:
variances.style.format('{0:,.0f}')

<br>

In [3]:
V_Detail('Aug','PR_x')

bank   -462,362.76
gl     -568,339.23

 |    -462,362.76

(b)          0.00
(g)   -105,976.47

b_items              []
g_items    [-105976.47]


  month       date                      desc      amount
0   Aug 2022-08-04      XFR TO PR - PR 08/05 -110,035.37
1   Aug 2022-08-11      XFR TO PR - PR 08/12 -112,788.69
2   Aug 2022-08-17     PR Xfers Pdate 8/19/2 -107,939.14
3   Aug 2022-08-25             PR 08-26-2022 -105,976.47
4   Aug 2022-08-26        PR xfer 09-02-2022 -105,976.47
5   Aug 2022-08-02   XFR TO PR-401K 07/22/22   -5,322.15
6   Aug 2022-08-04      XFR TO PR - PR 08/05   -5,319.63
7   Aug 2022-08-11      XFR TO PR-401K 08/05   -4,948.63
8   Aug 2022-08-12  PR 08/12/2022 401k Remit   -5,065.90
9   Aug 2022-08-26     08-26-2022 401k Remit   -4,966.78

In [4]:
V_Detail('Aug','CL_Pay')

bank   -1,278,879.40
gl     -1,194,600.00

 |    -1,194,100.00

(b)   -84,779.40
(g)      -500.00

b_items    [-56450.12, -25920.83, -2408.45]
g_items                            [-500.0]


  month       date                                desc      amount
0   Aug 2022-08-01  PAYMENT TO COMMERCIAL LOAN 1784020  -56,450.12
1   Aug 2022-08-01  PAYMENT TO COMMERCIAL LOAN 1788423  -25,920.83
2   Aug 2022-08-01  PAYMENT TO COMMERCIAL LOAN 1788696   -2,408.45
3   Aug 2022-08-02  PAYMENT TO COMMERCIAL LOAN 1788696 -103,800.00
4   Aug 2022-08-05  PAYMENT TO COMMERCIAL LOAN 1788696 -340,800.00
5   Aug 2022-08-12  PAYMENT TO COMMERCIAL LOAN 1788696 -169,900.00
6   Aug 2022-08-19  PAYMENT TO COMMERCIAL LOAN 1788696 -492,900.00
7   Aug 2022-08-23  PAYMENT TO COMMERCIAL LOAN 1788696  -86,700.00

  month       date                            desc      amount
0   Aug 2022-08-02           REC RLOC TRANSACTIONS -103,800.00
1   Aug 2022-08-05           REC RLOC TRANSACTIONS -340,800.00
2   Aug 2022-08-12  Aug 2022 Bank Recon - ATTF LOC -169,900.00
3   Aug 2022-08-19           Rec LOC Sweep 8/19/22 -492,900.00
4   Aug 2022-08-23             Xfer Oper Act / LOC  -86,700.00
5   Aug 2022-08-31         LOC Transfer Correction     -500.00